.DS_Store

avc_settings.php
avc_settings.asp
avc_settings.aspx
avc_settings.aspx.cs

jpg_encoder_download.php
jpg_encoder_download.asp
jpg_encoder_download.aspx
jpg_encoder_download.aspx.cs

save_video_to_db.php
save_video_to_db.asp
save_video_to_db.aspx
save_video_to_db.aspx.cs

uploadFromMobile.php
uploadFromMobile.asp
uploadFromMobile.aspx
uploadFromMobile.aspx.cs

uploadclass.asp